.burger {
  z-index: 3;
  position: absolute;
  width: 394px;
  height: 394px;
  top: 115px;
  background: #F2F0F1;
  border-bottom: 10px solid #FF8A00;
  transform: translate(-600px, -600px);
  transition: .5s;
}

.burger__active {
  transform: translate(0, 0);
}

.burger__list {
  position: relative;
  padding-top: 70px;
  font-weight: 550;
  font-size: 20px;
  line-height: 30px;
}

.burger__list:before {
  position: absolute;
  content: '';
  width: 52px;
  height: 30px;
  background: url('../image/header/corner.svg');
  left: 0;
  top: 2px;
  transform: translateY(-100%);
  border-bottom: 3px solid #F2F0F1;;
}

.burger__item {
  position: relative;
  padding-left: 39px;
  margin-bottom: 31px;
}

.burger__item:not(:last-child):after {
  position: absolute;
  content: '';
  width: 334px;
  height: 1px;
  background-color: #FF8A00;
  bottom: -15px;
  left: 20px;
}


@media (max-width: 900px) {
  .burger {
    width: 349px;
    height: 388px;
    &__list {
      padding-top: 40px;
      font-size: 18px;
      line-height: 24px;
    }
    &__item:not(:last-child):after {
      width: 309px;
    }
  }
}

@media (max-width: 480px) {
  .burger {
    top: 80px;
    width: 270px;
    height: 326px;
    &__list {
      padding-top: 20px;
      font-size: 14px;
      line-height: 20px;
      &:before {
        display: none;
      }
    }
    &__item {
      padding-left: 10px;
      &:not(:last-child):after {
        width: 100%;
        left: 0;
      }
    }
  }
}
