@media (max-width: 1024px) {
  .slider {
    position: relative;
    &__item {
      display: none;
      &_active {
        display: flex;
      }
    }
    &__left {
      z-index: 2;
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 54px;
      height: 54px;
      background: url('../image/pets/left.svg') center / contain no-repeat;
    }
    &__right {
      z-index: 2;
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 54px;
      height: 54px;
      background: url('../image/pets/right.svg') center / contain no-repeat;
    }
  }
}

@media (max-width: 768px) {
  .slider {
    &__item {
      height: 410px;
    }
    &__left {
      width: 26px;
      height: 26px;
      transform: translate(-50%, -50%);
    }
    &__right {
      width: 26px;
      height: 26px;
      transform: translate(50%, -50%);
    }
  }
}